.side-bar {
    position: fixed;
    left: 0px;
    bottom: 0px;
    top: 55px;
    background-color: white;
    width: 72px;
    z-index: 200;
    padding-top: 5px;
}

.side-bar-link {
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.side-bar-link:hover {
    background-color: rgb(235, 235, 235);
}

.side-bar-link img {
    height: 24px;
    margin-bottom: 4px;
}

.side-bar-link div {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
}